/*.quill > * {*/
/*  @apply border-2 border-gray-200 focus-within:shadow-md focus-within:shadow-gray-200/50 transition !important;*/
/*}*/

.quill > .ql-container,
.quill > .ql-toolbar {
  @apply border-2 border-gray-200 focus-within:shadow-md focus-within:shadow-gray-200/50 transition !important;
}

.quill > .ql-toolbar {
  @apply rounded-t-md !important;
  /* border radius of the container and for font size*/
  font-size: inherit;
}

.quill > .ql-container {
  @apply rounded-b-md text-sm !important;
  /* border radius of the container and for font size*/
  font-size: inherit;
}

.ql-toolbar.ql-snow .ql-picker-label {
  color: inherit !important;
  opacity: 0.76;
}

.ql-snow .ql-picker {
  color: inherit !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  /* for placeholder */
  color: inherit;
}

.quill > .ql-container > .ql-editor h1 {
  @apply text-xl;
}

.quill > .ql-container > .ql-editor h2 {
  @apply text-lg;
}

.quill > .ql-container > .ql-editor ul {
  @apply list-disc;
  padding: 0;
}

.quill > .ql-container > .ql-editor ol {
  @apply list-decimal;
  padding: 0;
}

.ql-snow.ql-toolbar button svg {
  opacity: 0.76;
  color: currentColor;
}

.ql-snow .ql-stroke {
  /* for the border of the editor */
  stroke: currentColor !important;
}

.ql-snow .ql-fill {
  /* for the bg color */
  fill: currentColor !important;
}

.ql-picker-item {
  /* for dropdown */
  color: #444 !important;
}
