@tailwind components;

@layer components {
  .article {
    @apply min-h-72 leading-6 outline-none;
  }

  .article .is-editor-empty:first-child::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  .article p {
    @apply my-2;
  }

  .article p:empty::after {
    content: "\00A0";
  }

  .article ul {
    @apply ml-10;
    list-style: disc;
  }

  .article ol {
    @apply ml-10;
    list-style: decimal;
  }

  .article h1 {
    @apply text-2xl;
  }

  .article h2 {
    @apply text-xl;
  }

  .article img {
    @apply mx-auto rounded-md shadow-md shadow-black-700/10;
  }

  .article blockquote::before {
    @apply absolute -left-1 top-0 h-full w-1 -translate-x-full rounded-sm bg-gray-200;
    content: "";
  }

  .article blockquote {
    @apply relative ml-6 text-gray-600;
  }

  .article p code {
    @apply bg-gray-100 px-2 font-mono text-pink-500;
    font-family: var(--font-source-code-pro);
    overflow-x: scroll;
  }

  .article pre {
    @apply bg-gray-100 px-4 py-2 font-mono text-sm;
    font-family: var(--font-source-code-pro);
    white-space: pre-wrap;
    text-wrap: wrap;
    word-break: break-word;
  }
}
